{% extends 'base.html' %}

{% block content %}
<h1>Index</h1>

<div class="row">
    <div class="col-9">
        <table class="table table-sm">
            <thead>
            <tr>
                <th></th>
                <th>სათაური</th>
                <th>ფასი</th>
                <th>წელი</th>
                <th>ქალაქი</th>
                <th>მარკა</th>
            </tr>
            </thead>
            <tbody>
            {% for adv in advertisements %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>
                    <div>{{ adv.title }}</div>
                    <div>
                        <img src="{{adv.image }}" style="max-width: 100px; max-height: 100px;">
                    </div>
                </td>
                <td>{{ adv.price }}</td>
                <td>{{ adv.year }}</td>
                <td>{{ adv.city }}</td>
                <td>{{ adv.mark }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-3">
        <form action="" method="get">
            <label>მარკა</label>
            <select name="mark" class="form-control">
                <option value=""></option>
                {% for mark in marks %}
                    {% if request.GET.mark == mark.id|stringformat:'i' %}
                    <option value="{{ mark.id }}" selected>{{ mark.title }}</option>
                    {% else %}
                    <option value="{{ mark.id }}">{{ mark.title }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <label class="mt-3">ქალაქი</label>
            <select name="city" class="form-control">
                <option value=""></option>
                {% for city in cities %}
                    {% if request.GET.city == city.id|stringformat:'i' %}
                    <option value="{{ city.id }}" selected>{{ city.title }}</option>
                    {% else %}
                    <option value="{{ city.id }}">{{ city.title }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <div class="input-group mt-3">
                <button type="submit" class="btn btn-primary btn-sm">მოძებნა</button>
                <a href="{% url 'myapp:index' %}" class="btn btn-secondary btn-sm ml-4">წაშლა</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}
